*{margin: 0; padding:0;}
ul,ol,li{ list-style: none; margin:0; padding:0;}
.buy{width: 1400px; height: 680px; background-color:#f9f6ef; margin:0 auto; margin-top:15px;} 
.sell{width:400px; height: 480px; position: relative; top:50px; left:120px; float: left;}
.bt button{width:100px; height:100px; margin:70px 20px 0 0; cursor: pointer; border:none;}
.bt{margin-left:145px; clear:both;}
.buy h1{ float: right; position: relative; bottom:550px; right:400px; font-size: 38px; font-family: 'Franklin Gothic Demi';}
.buy span{float: right; position: relative; bottom:410px; font-size: 25px; right:270px; color:#666; font-family: '나눔고딕OTF';}

.buy span img{ width: 30px; height: 30px; position: relative; top:7px; right:5px;} 
.color{ width: 25px; height: 25px;  float: right; position: relative; bottom:350px; right:165px; margin:0 15px 0px 0;cursor: pointer}
.color button{border:none; cursor:pointer;}
.buy .textbox{width: 550px; height: 123px; float: right; position: relative; left:380px; bottom:300px;}
.buy p{color:#666; font-family: '나눔고딕OTF'; line-height: 27px;}
.buy #aa{ width:350px; height: 40px; float: right; position: relative; right:350px;bottom:200px; background-color: #666; color:#fff; font-size: 18px; border:none; 
            border-radius: 10px; cursor: pointer;}
.sell img{position: relative;}
#aa:hover{background-color: #fff; color:#333;}
#aa{transition:all 0.3s ease;}

.box3 .info h3{font-size: 28px;color:#fff; transition:0.4s ease-in-out; padding:12px 0;}
.box3 .info{position:absolute; left:0; top:auto; bottom:0; right:0; z-index:5; text-align: center;color:#333; 
        width: 250px; height: 60px; transition:0.4s ease-in-out; }

.box3{position:relative;cursor:pointer;width: 250px; height: 60px; overflow: hidden;
         background-color: #333;border-radius: 50px; float: right;bottom: 200px; right:400px;}
.box3 .bg{position:absolute; left:-100%; top:auto; bottom:0; right:0; z-index:2; background-color: #fff;
        width: 250px; height: 80px; transition:all 0.4s ease-in-out;}

      .box3:hover .bg {opacity:1; left: 0;margin:0px 0 0 0;} 

.box3 .info h3:hover{color:#333; opacity:1;}

#z{display:none;}
#x{display:none;}
#c{display:none;}
#red{display:none;}
#black{display:none;}


.products{width: 1200px; height: 428px; margin:0 auto; position: relative;}
.products h1{text-align: center; display: inline-block; position: relative; left:500px; bottom:30px;}
.guitar{width:200px; height: 245px; position:relative; overflow: hidden; }
.guitar img{width: 100%; display: block; height: 100%; z-index: 10; transition: all 0.35s ease-in-out; transform: scale(1);}

.text{position: absolute; left:0; top:auto; bottom:-100%; right:0;
        background: rgba(0,0,0,0.7);
        color:#fff; padding:13px; text-align: center; transition:all 0.35s ease-in-out;  }
        .guitar:hover .text{opacity: 1; bottom:0;}


.container{ width: 1200px; height: 300px;  display: flex; justify-content: space-around;}

.go{width: 1200px; height: 100px;  display: flex; margin:0 auto;}
.go2{ width:122px; height: 31px;  margin:50px 10px 0 15px; }
.go div{ width:122px; height: 31px; background-color: #fff; color:#333; border:1px solid #333;; font-family: 나눔고딕OTF;cursor:pointer }



.detail{ width: 1200px; height: 7516px;  margin:0 auto;}


#shopping2{width: 1200px; height: 50px; margin:200px auto 0; }
#shopping2 >ul{width: 1200px; height: 50px; margin:40px auto 0; }
#shopping2 ul li{width:297px; height: 100%; background-color: #eee; float: left; text-align: center;
                padding:15px 0 0 0; border:1px solid #ddd;font-size: 16px; box-sizing: border-box;}
#shopping2 ul li a{text-decoration: none; color:#333; font-family:'나눔고딕OTF';}



#shopping{width: 1200px; height: 500px; margin:200px auto 0; box-sizing: ;}
#shopping >ul{width: 1200px; height: 50px; margin:40px auto 0;}
#shopping ul li{width:297px; height: 100%; background-color: #eee; float: left; text-align: center;
                padding:15px 0 0 0; border:1px solid #ddd;font-size: 16px;
                box-sizing: border-box;}
#shopping ul li a{text-decoration: none; color:#333; font-family:'나눔고딕OTF';}
#text{display: none;}
#shopping ul li:hover{background-color: #fff;}
#shopping2 ul li:hover{background-color: #fff;}

#riview button{margin:10px 0 10px 1100px; width: 100px; height: 40px; font-family:'나눔고딕OTF' ; background-color: #333; color:#fff; border:none; border-radius: 5px;}
#riview img{margin:5px 0 0 10px;}
#riview p{width: 200px; height: 100px; background-color: #eee; font-family:'나눔고딕OTF' ; font-size: 15px;}

#riview button:hover{background-color: #999;}

#text table{border:1px solid #ddd; font-family:'나눔고딕OTF'; width: 1200px; height:400px; border:1px solid #ddd;}
#text th{border:1px solid #ddd;}
#text td{border:1px solid #ddd;}

#qna th{width: 80px; border-bottom:1px solid #eee; color:#333;}
#qna table td:first-of-type{width: 770px; border-bottom:1px solid #eee;}
#qna table td:first-of-type >a{color:#333;}
#qna table td:nth-of-type(2){width: 80px; text-align: center; border-bottom:1px solid #eee;}
#qna table td:nth-of-type(3) {width:120px; text-align:center; border-bottom:1px solid #eee;}

#qna table td:last-of-type {width:150px; text-align:center; border-bottom:1px solid #eee;}

#qna table {width:1200px; height:450px; margin:0 auto; text-align:center; font-size: 15px;}

#qna button {float:right; margin:25px 0px; width:120px; height:40px; color:#fff; font-size:14px; background-color:#333; border:1px solid #ddd;
                border-radius: 5px;}

#qna button:hover {cursor:pointer; background-color: #999;}

#qna table {display:inline-block; margin:0px auto; border-top:1px solid #333; line-height:50px; width:1200px; font-size:13px; color:#333;}

#qna table a{text-decoration: none;}
#qna table a:hover{text-decoration: underline;}

#qna{display:none;}

#qna ul:hover{cursor: pointer;}